/** Colors **/
$blue: #283a5e; 
/** Font Weight **/
$normal: 400; 

/** Responsive Devices **/
$ipad_pro: 1024px;
$ipad: 768px;
$mobile: 414px;
$small_devices: 375px;


$gradient: linear-gradient(124deg, rgba(30, 13, 132, 1) 0%, rgba(57, 33, 186, 1) 20%, rgba(73, 44, 217, 1) 40%, rgba(74, 88, 232, 1) 60%, rgba(72, 97, 231, 1) 70%, rgba(65, 126, 228, 1) 80%, rgba(46, 206, 218, 1) 100%);

$border_radius: 40px;
 